.form-container {
  width: 60%;
  margin: auto;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.form-radio-button {
  margin: 5px;
}

.full-width {
  width: 100%;
}
